/*Style.css file used by default in Index.html*/
body {
    background-color: #333333;
  }
  
  h1.title{
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  div.container {
    position: static;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: #ffcc00;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(235, 194, 15);
  
    content: "";
    clear: both;
    display: table;
  }
  
  div.formQuestion {
    position: relative;
    padding: 5px;
  }
  
  input.signupInput {
    position: static;
    float: right;
    box-shadow: 0 0 15px rgb(139, 116, 10);
  
  }
  
  input.signupInput:hover{
    border: 3px solid #2e2d2d;
  }
  
  
  button.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 75px;
    height: 40px;
    border: none;
    background-color: #eebb00;
    border-radius: 12px;
    box-shadow: 0 7px #333;
    transition-duration: 0.1s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 13px;
    /*background-color: #aa7700;*/
    
  }
  
  button.submit:hover {
    background-color: #cc9900;
  }
  
  button.submit:active {
    box-shadow: 0 3px #333;
    transform: translateY(4px);
  }
  
  p {
    margin: 0px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  label{
    color:black;
  }